src/main/mule/system-tms-unigis-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="system-tms-unigis-httpListenerConfig">
        <http:listener-connection host="${https.listener.host}" port="${https.listener.port}" protocol="HTTPS" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="system-tms-unigis-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:system-tms-unigis-api:1.0.13:raml:zip:system-tms-unigis-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="system-tms-unigis-api-main">
        <http:listener config-ref="system-tms-unigis-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system-tms-unigis-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-400",
			"user_error_description": "The server cannot or will not process the request due to something that is perceived to be a client error",
			"system_error_description": "Bad Request"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-404",
			"user_error_description": "The origin server did not find a current representation for the target resource or is not willing to disclose that one exists",
			"system_error_description": "Not Found"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-405",
			"user_error_description": "The method received in the request-line is known by the origin server but not supported by the target resource",
			"system_error_description": "Method Not Allowed"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-406",
			"user_error_description": "The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation",
			"system_error_description": "Not Acceptable"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-415",
			"user_error_description": "The origin server is refusing to service the request because the payload is in a format not supported by this method on the target resource",
			"system_error_description": "Unsupported Media Type"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-501",
			"user_error_description": "The server does not support the functionality required to fulfill the request",
			"system_error_description": "Not Implemented"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="UNIGIS:UNKNOWN_ERROR" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": (error.muleMessage.typedValue.detailMessage)
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="UNIGIS:BAD_REQUEST" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": read(error.description)
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <!-- [STUDIO:"On Error Propagate"]<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cbf340c1-8a88-40c2-83e4-caf4e1bb9092" type="ERROR:UNIGISCREATEDOCUMENT">
				<ee:transform doc:name="Set structure error response" doc:id="302367ca-1dd8-4e1d-a9f4-380707997fb2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
if(vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult == "1")
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error_code": vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult,
		"error": "ERROR_OPERACION: Validar el código de Operación enviado en las estructuras. Algun campo está vacío, no se está enviando o su formato es incorrecto."
	}
}
else if (vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult == "99")
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error_code": vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult,
		"error": "EXCEPCION_GENERAL: Error no controlado."
	}
}
else if (vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult == "-100")
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error_code": vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult,
		"error": "ERROR_API_KEY: ApiKey Incorrecto."
	}
}
else if (vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult == "-44")
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error_code": vars.createDocResp.body.CrearDocumentosResponse.CrearDocumentosResult,
		"error": "Hace falta llenar el campo referencia."
	}
}
else
""&#93;&#93;></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400&#93;&#93;></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate> [STUDIO] -->
            <on-error-propagate enableNotifications="true" logException="true" doc:name="ANY On Error Propagate" doc:id="1630ab27-56bd-40fd-ac89-aff78e873aa0" type="ANY">
                <ee:transform doc:name="Create error" doc:id="ef1f0c92-9674-40d1-94cb-2e9f0812a051">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---

  {
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": error	
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="system-tms-unigis-api-console">
        <http:listener config-ref="system-tms-unigis-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system-tms-unigis-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "traxion_response": {
        "completed_successfully": "false",
        "response": {
            "message": "operation successfully"
        }
    }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="system-tms.unigis-api-set-var-system-source" doc:id="859ef673-1a5b-437f-a7f0-0116c56c8619">
        <ee:transform doc:name="Transform Message" doc:id="3b1a4f8b-5d59-4910-a0bd-039ab3f6d2b9">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <flow name="post:\tms\shipments:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="b345d8b4-b70b-45e2-833f-128afab36773" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-create-order-shipment-main" doc:id="43ec55d5-1cb6-4420-8fac-9e3ef0ca9d3a" name="orchestrator-create-order-shipment-main" />
    </flow>
    <flow name="post:\tms\shipments\dispacher:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="1d59e46f-94bd-4378-af69-2ed4c6823196" name="system-tms.unigis-api-set-var-system-source" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
	{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "shipment dispacher successful",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\shipments\events:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="a4c33ef1-6e3e-4d9c-90b7-68650bb9cbcb" name="system-tms.unigis-api-set-var-system-source" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
	{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "update event successful",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\shipments\test\delivery:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="3a12c81b-37d1-4163-b9dd-0a6cc9dcdfed" name="system-tms.unigis-api-set-var-system-source" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
	{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "successful POD",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\client:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="25d852b7-61f5-421a-ad25-ef25aeb388a6" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-create-client-order-main" doc:id="9a1a3005-e76a-4270-8cba-18c82d285a15" name="orchestrator-create-client-order-main" />
    </flow>
    <flow name="post:\tms\create-carrier:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="5849686c-4f04-4d81-83cc-60eeb4117869" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-create-transportes" doc:id="c4548209-475e-42dd-9060-ba4bcd195ed7" name="orchestrator-create-transportes" />
    </flow>
    <flow name="patch:\tms\journeys\(id_journey):application\json:system-tms-unigis-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_journey">attributes.uriParams.'id_journey'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="9e6853f1-294e-4613-a884-aad5ccff279e" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-modifica-estado-viaje" doc:id="6ecb5633-cf2c-4853-9b54-860ecd400c51" name="orchestrator-modifica-estado-viaje" />
    </flow>
    <flow name="patch:\tms\guides\(id_guide):application\json:system-tms-unigis-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_guide">attributes.uriParams.'id_guide'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="540eafab-3351-4107-8bab-022e524cfb8c" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-modifica-estado-guia" doc:id="bc813008-3bf0-413d-8e55-370cabf6047a" name="orchestrator-modifica-estado-guia" />
    </flow>
    <flow name="post:\tms\bill_lading:application\json:system-tms-unigis-api-config">
        <!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: true,
    response: {
      operation: "generar_pedido_venta_con_carta_porte",
      identificador_pedido: "0156382P",
      numero_factura: "0092388389",
      numero_pedido: "0002729541",
      correlation_id: "d4daf360-0a38-11ef-81b3-02462e4b9d9d"
    },
    response_pac: {
      return: {
        codigo: "100",
        descripcion: "CFDI timbrado correctamente.",
        fechaTimbrado: "2024-05-04T11:08:06",
        noCertificado: "00001000000504662071",
        selloCFDI: "iHY8Xtci526CStR1x9PE7lwOmM/IqshixXnJ9/5ciggLjK3nF0Iy09ueUD8REHcYVUaQmAuWphBf2ypIwp3Yo/lP7JWIfGJC0MqeQFZQ8qXeG5/SQre0o0RBfvo9AvUNw/BIY5bHYIowhBFwqsou1DuuHwAbEtefBMFcDwq/g/avqZR7EweB0gVKv5ZTewqYmWiPEVNsSpcGdPMDEljigGcXS4Fy3HnZNNCgm6BRYdqWy2LfwlC3eo/ikQJ0e6P5Vs+Urhq9QDBx9/s2jQFpfQBES9+y9WkG7ZuvTDSDTCLCBBilXzPuRHEDwJBG3gDkgU4nmMJvL5RAospTtzTfow==",
        selloSAT: "oa0U5yN1Rz28VY8+GpwoNAnocoeE9Cn3LhzZ8I6Cg1ZVcxAQhNa3nbjrdrKonjlGemGeZZIPe6/+OAwTX1o/6RrID8V7vesCMhQOHxM90+tU334redyWtbiIuomrGOUUd2ZgG/hfPOuGymTDI6/tTu8T+6O8mDarnHdWE40Q06Bz/fgHwNh6hJKGwK1IUPt/ADmFWn4OZfspwsBTUKBF7e8uS+8jiyecL60QwNdQb43J5Ef/xx7IAFKbppo260oNQeyRPukVOy9wL14eRz7HL6aLOYc44V4x4u9aO86f3Ie+pX3qGTc8bNN0NaX0i0CH2H+ZdmVlzzXq59YkhAcIqg==",
        UUID: "522219ad-d57d-4a49-8a98-b8753713e46a"
      }
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
        <ee:transform doc:name="Set source system" doc:id="d10251b9-7764-4450-8233-c6071e77117e">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-send-bill-lading-unigis" doc:id="bf5ae486-634b-4408-b428-bcb370d3fcaa" name="orchestrator-send-bill-lading-unigis" />
    </flow>
    <flow name="post:\tms\order:application\json:system-tms-unigis-api-config">
        <ee:transform doc:name="Set source system" doc:id="e1726086-e4b7-44aa-b615-14cfa00a82f3">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.source_system]]></ee:set-variable>
                <ee:set-variable variableName="payloadBK"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call to orchestrator-create-order-main" doc:id="ae5372c2-abeb-427a-9b65-8cbf8da5f78b" name="orchestrator-create-order-main" />
    </flow>
    <flow name="post:\tms\order\shipment:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="f18f216f-f4af-4c86-a9ee-cce56d40ef77" name="system-tms.unigis-api-set-var-system-source"/>
		<flow-ref doc:name="orchestrator-order-shipment-main" doc:id="a9ec315d-76c3-42e3-83fb-cfc2f0f43ad0" name="orchestrator-order-shipment-main"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_successfully: "true",
    response: {
      message: "operation successfully"
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
