src/main/mule/system-tms-unigis-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="system-tms-connection-httpListenerConfig">
        <http:listener-connection host="${https.listener.host}" port="${https.listener.port}" protocol="HTTPS" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="system-tms-unigis-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:system-tms-unigis-api:1.0.9:raml:zip:system-tms-unigis-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="system-tms-unigis-api-main">
        <http:listener config-ref="system-tms-connection-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system-tms-unigis-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="system-tms-unigis-api-console">
        <http:listener config-ref="system-tms-connection-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system-tms-unigis-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="system-tms.unigis-api-set-var-system-source" doc:id="859ef673-1a5b-437f-a7f0-0116c56c8619">
        <ee:transform doc:name="Transform Message" doc:id="3b1a4f8b-5d59-4910-a0bd-039ab3f6d2b9">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <flow name="post:\tms\shipments:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="b345d8b4-b70b-45e2-833f-128afab36773" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-create-order-shipment-main" doc:id="43ec55d5-1cb6-4420-8fac-9e3ef0ca9d3a" name="orchestrator-create-order-shipment-main" />
    </flow>
    <flow name="post:\tms\shipments\dispacher:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="1d59e46f-94bd-4378-af69-2ed4c6823196" name="system-tms.unigis-api-set-var-system-source" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
	{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "shipment dispacher successful",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\shipments\events:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="a4c33ef1-6e3e-4d9c-90b7-68650bb9cbcb" name="system-tms.unigis-api-set-var-system-source" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
	{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "update event successful",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\shipments\test\delivery:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="3a12c81b-37d1-4163-b9dd-0a6cc9dcdfed" name="system-tms.unigis-api-set-var-system-source" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
	{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "successful POD",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\client:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="25d852b7-61f5-421a-ad25-ef25aeb388a6" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-create-client-order-main" doc:id="9a1a3005-e76a-4270-8cba-18c82d285a15" name="orchestrator-create-client-order-main" />
    </flow>
    <flow name="post:\tms\create-carrier:application\json:system-tms-unigis-api-config">
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="5849686c-4f04-4d81-83cc-60eeb4117869" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-create-transportes" doc:id="c4548209-475e-42dd-9060-ba4bcd195ed7" name="orchestrator-create-transportes" />
    </flow>
    <flow name="patch:\tms\journeys\(id_journey):application\json:system-tms-unigis-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_journey">attributes.uriParams.'id_journey'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="9e6853f1-294e-4613-a884-aad5ccff279e" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-modifica-estado-viaje" doc:id="6ecb5633-cf2c-4853-9b54-860ecd400c51" name="orchestrator-modifica-estado-viaje" />
    </flow>
    <flow name="patch:\tms\guides\(id_guide):application\json:system-tms-unigis-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_guide">attributes.uriParams.'id_guide'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="system-tms.unigis-api-set-var-system-source" doc:id="540eafab-3351-4107-8bab-022e524cfb8c" name="system-tms.unigis-api-set-var-system-source" />
        <flow-ref doc:name="orchestrator-modifica-estado-guia" doc:id="bc813008-3bf0-413d-8e55-370cabf6047a" name="orchestrator-modifica-estado-guia" />
    </flow>
</mule>
