src/main/mule/Listeners/pubsub-listeners.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:pubsub="http://www.mulesoft.org/schema/mule/pubsub" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/pubsub http://www.mulesoft.org/schema/mule/pubsub/current/mule-pubsub.xsd">
	<flow name="pubsub-listeners-order-creation" doc:id="489fc25c-4996-4290-b2f0-83068e3ed382" >
		<pubsub:message-listener doc:name="On message listener" doc:id="9d435714-ea71-404a-8607-51e9015be087" config-ref="Google_Pub_Sub_Configuration" projectId="${pubsub.project.id}" subscriptionName="${pubsub.subscription.order_create}"/>
		<flow-ref doc:name="call orchestrator-tms-unigis-order-creation" doc:id="8f310611-af0e-4dab-b3c8-a97ac007e5da" name="orchestrator-tms-unigis-order-creation"/>
	</flow>
	<flow name="kafa-order-creation-test" doc:id="13d6a58d-dd41-4a14-83bf-36ae8f6ea365">
		<scheduler doc:name="Scheduler" doc:id="15c5353b-f9a5-4b00-aa28-4b16373ccf9a">
			<scheduling-strategy>
				<cron expression="0 0 0 ? * SUN *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="ba06946b-68bc-4a3f-a8b3-76e3863540e5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "payload": {
            "_id": "1111-2222-3333-4444-addadadad",
            "created_at": 1753461524778,
            "tenant_id": "PISA",
            "remission": {
                "id": "487987",
                "tenant_id": "PISA",
                "tracking_id": "Araui657d",
                "order_number": "", 
                "order_type": "REMISSION_PISA",
                "delivery_date": 1787898797,
                "delivery_destination_id": "787d8adaa"
            },
            "version": "1.0.0",
            "updated_at": 1753461524778,
            "event_timestamp": 1753463962000,
            "event": "ORDER_CREATED", 
            "author": {
                "id": "pisa-131",
                "name": "alguien",
                "type": null, 
                "email": "ariel@mail.com" 
            },
            "evidences": null,
            "metadata": {
               "appointment_delivery_date": null, 
               "items": [
                    {
                        "id": "123",
                        "sku": "A1-XXXX",
                        "description": "item-a1",
                        "quantity": 100,
                        "origin_warehouse": ""
                    },
                    {
                        "id": "456",
                        "sku": "B2-XXX",
                        "description": "item-b2",
                        "quantity": 100,
                        "origin_warehouse": ""
                    }
                ]
            },
            "event_note": null, 
            "origin_platform": "PISA", 
            "version": "1.0.0"
    },
    "event": "ORDER_CREATED",
    "context":{
        "remission":{
              "_id": "f7a87752-7f2f-5d45-8c2b-d09d85446a76",
              "appointment_delivery_date": 1756533600000, 
              "author": {
                "id": "str",
                "name": "str",
                "type": null,
                "email": null
              },
              "created_at": 1756930751200,
              "current_event": null,
              "current_event_timestamp": null,
              "delivery_date": 1756533600000, 
              "delivery_destination": { 
                "id": "xxxx",
                "customer_id": "aaaaaao",
                "version": "1.0.0"
              },
              "delivery_id": null, 
              "foreign_id": null, 
              "institution_number": "",  
              "items": [
                "A1-XXXX",
                "B2-XXX"
              ],
              "metadata": { 
                "issuance_date": 1757524635221, 
                "bid_number": "AA-12-NEF", 
                "contract_number": "4234545",
                "society":"", 
                "destination_center":""
              },
              "order_number": "999653354",
              "order_type": "REMISSION_PISA",
              "tenant_id": "PISA",
              "tracking_id": "6124dc1cada",
              "updated_at": 1756930751200,
              "version": "1.0.0"
        }
    },
    "origin_timestamp" : 178888564,
    "publish_at":178888564,
    "project": "PISA", 
    "company": "PHARMA-PISA", 
    "version": "1" 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<pubsub:publish-message doc:name="Publish Message" doc:id="e6b49e70-8689-4240-8648-0e7a57bfde3a" config-ref="Google_Pub_Sub_Configuration" projectId="${pubsub.project.id}" topicName="${pubsub.topic.order_create}">
			<pubsub:message><![CDATA[#[payload]]]></pubsub:message>
			<pubsub:attributes><![CDATA[#[output application/java
---
{
	"company" : p('pubsub.company.order_create'),
	"event" : p('pubsub.event.order_create'),
	"project" : p('pubsub.project.order_create'),
	"version" : p('pubsub.version.order_create')
}]]]></pubsub:attributes>
		</pubsub:publish-message>
	</flow>
	<flow name="pubsub-listeners-dispatch" doc:id="60db72d0-1453-441c-8d4f-3a12f0a675e3" >
		<pubsub:message-listener doc:name="On message listener" doc:id="13081ab7-d2f6-4b65-93b6-7ee9d5f22339" config-ref="Google_Pub_Sub_Configuration" projectId="${pubsub.project.id}" subscriptionName="${pubsub.subscription.dispatch}"/>
		<flow-ref doc:name="call orchestrator-tms-unigis-dispatch" doc:id="4603e4ff-a7b5-4439-be4b-5b46ed83c4cd" name="orchestrator-tms-unigis-dispatch"/>
	</flow>
	<flow name="kafa-load-end-test" doc:id="fc68ffbb-fd12-48a5-a7cf-80c8b1b338b9" >
		<scheduler doc:name="Scheduler" doc:id="88a6f46c-a3a5-4359-b4d9-4f0f053565f8" >
			<scheduling-strategy >
				<cron expression="0 0 0 ? * SUN *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="857d57b5-b9c0-4876-b461-92957853d61b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "payload":
    {
    "order_status_change": {
        "order_number": "12345560RF2",
        "order_type": "",
        "load_id": "12345",
        "customer_id": "",
        "address_id": "",
        "user": "",
        "event_timestamp": "",
        "institution_number": "",
        "status": "picking/packing/loaded/dispatched/delivered",
        "origin_warehouse": "",
        "order_details": [
            {
                "product_number":"12345560RF2",
                "volume": "10",
                "weight": "10",
                "bulk": "10",
                "parcel": "10",
                "lot_number": "",
                "expiration_date": "",
                "quantity": "10",
                "expected_quantity": "",
                "material_type": "",
                "condition_type": ""
            }
        ]
    }
}
    ,
  "origin_timestamp": 1758328111780,
  "event": "INVENTORY_STATUS_UPDATE",
  "publish_at": 1758328111794,
  "project": "PISA",
  "company": "WMS",
  "version": "1"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<pubsub:publish-message doc:name="Publish Message" doc:id="7345db94-42fe-4393-bce4-7b785cf8efd9" config-ref="Google_Pub_Sub_Configuration" projectId="${pubsub.project.id}" topicName="${pubsub.topic.dispatch}" >
			<pubsub:message ><![CDATA[#[payload]]]></pubsub:message>
			<pubsub:attributes ><![CDATA[#[output application/java
---
{
	"company" : p('pubsub.company.dispatch'),
	"event" : p('pubsub.event.dispatch'),
	"project" : p('pubsub.project.dispatch'),
	"version" : p('pubsub.version.dispatch')
}]]]></pubsub:attributes>
		</pubsub:publish-message>
	</flow>
	<flow name="pubsub-listeners-gps-update" doc:id="7505043e-2e21-4ede-ac5c-f9d5a588bb9e" >
		<pubsub:message-listener doc:name="On message listener" doc:id="05050fbd-4f5c-44f9-9d1f-2a50875f9aef" config-ref="Google_Pub_Sub_Configuration" projectId="${pubsub.project.id}" subscriptionName="${pubsub.subscription.gps.update}"/>
		<ee:transform doc:name="convert to JSON" doc:id="651e7a3e-852d-4ea1-a6e3-0f1ade7085e8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
read(payload as String, "application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d2d3f86a-d415-4db6-b268-2e44f538dd1e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns unis http://unisolutions.com.ar/ 
output application/xml
---
{
	soapenv#Envelope:{
		soapenv#Header:{},
	    soapenv#Body:{
	        unis#LoginYInsertarEvento:{
	            unis#SystemUser:p('consume.GPS.user'),
	            unis#Password:p('consume.GPS.password'),
	            unis#Dominio:payload.plate,
	            unis#NroSerie: -1,
	            unis#Codigo:"",
	            unis#Latitud:payload.latitude,
	            unis#Longitud:payload.longitude,
	            unis#Altitud: 0,
	            unis#Velocidad: 20,
	            unis#FechaHoraEvento: payload.event_date,
	            unis#FechaHoraRecepcion: payload.receipt_date
	        }
	    }
    }
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="plate" ><![CDATA[payload.plate]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="call clients-ws-unigis-gps-update" doc:id="1ec54a47-c368-4434-9cbd-b562e7ff3391" name="clients-ws-unigis-gps-update"/>
		<ee:transform doc:name="Transform Message" doc:id="18119e38-13d9-414f-abe1-28ed41d2d2eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns uni http://unisolutions.com.ar/
---
{
    "traxion_response": {
        "response": {
            "message": "successful",
            "data": {
                "transactionId":vars.plate,
                "result":payload.soap#Envelope.soap#Body.uni#LoginYInsertarEventoResponse.uni#LoginYInsertarEventoResult
            }
        },
        "completedSuccessfully": true
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88d861ff-0108-4424-b4d2-232c1cad7f07" />
	</flow>
	<flow name="kafa-gps-test" doc:id="fc74d0fd-9b19-40e7-b43f-14f29d73062e" >
		<scheduler doc:name="Scheduler" doc:id="9ae895ed-2de1-4dd9-a6bf-ad015e5f908d" >
			<scheduling-strategy >
				<cron expression="0 0 0 ? * SUN *" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="01e59a20-416e-49c8-86d1-88f4652025d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "plate": "AAA123A",
  "load_id": "12345",
  "load_number": "12345",
  "longitude": "-102.336460",
  "latitude": "21.932729",
  "event_date": "2025-09-29T04:00:00",
  "receipt_date": "2025-09-29T04:00:00"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<pubsub:publish-message doc:name="Publish Message" doc:id="bcb59b7a-c009-412f-a86f-48a9bd240224" config-ref="Google_Pub_Sub_Configuration" projectId="${pubsub.project.id}" topicName="${pubsub.topic.gps.update}" >
			<pubsub:message ><![CDATA[#[payload]]]></pubsub:message>
			<pubsub:attributes ><![CDATA[#[output application/java
---
{
	"company" : p('pubsub.company.gps.update'),
	"event" : p('pubsub.event.gps.update'),
	"project" : p('pubsub.project.gps.update'),
	"version" : p('pubsub.version.gps.update')
}]]]></pubsub:attributes>
		</pubsub:publish-message>
	</flow>
</mule>
